@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-17 17:53:42
 * @version $Id$
 */
 .title {
 	height:40px;
 	float:left;
 	margin-left:100px;
 	width:90%;
 }
 .title-position {
 	/*width:10%;*/
 	margin-top:10px;
 	margin-right:5px;
 	float:left;
 	font-size:120%;
 	font-family:Microsoft YaHei;
 	color:lightblue;
 }
 .title-road {
 	margin-top:10px;
 	float:left;
 	font-size:120%;
 	font-family:Microsoft YaHei;
 	color:black;
 }
 .return {
 	height:40px;
	width:20%;
	margin-left:80%;
	float:right;
	font-size:150%;
	font-family:Microsoft YaHei;
	color:#3864e6;
 }
 a {
 	text-decoration: none;
 }
 .contain {
 	width: 95px;
 	height: 600px;
 	margin-left: 1100px;
/* 	margin-top: 80px;*/
 	border: 1px solid lightgray;
 	/*background: lightgray;*/
 }
 button {
 	background-color: #4A64B2;
 	width: 70px;
 	height: 40px;
 	margin-top: 30px;
 	margin-left: 10px;
 }
 #myMap {
 	width: 1000px;
 	height: 600px;
 	margin-top: -600px;
 	margin-left: 100px;
 }

 #shoudi {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #lvdi {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #fudi {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #boan {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #yanshui {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #shentan {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #hezhu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #hongyuan {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #gaozhuang {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #meizhu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #meishu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #shuige {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #qiuxue {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #lianhua {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #zhiwu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #baijia {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #xialong {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #jiangxiang {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #sanshen {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #shuixia {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #lihang {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #luan {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #shuihu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #qushui {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #d {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #bowu {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #an {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }
 #hongzhong {
 	width: 300px;
 	height: 170px;
 	display: none;
 	font-height: 1000;
 }

 .scenic-allstars {
 	width: 100px;
 	height: 30px;
 	line-height: 30px;
 }
 .scenic-allstars-star {
 	color: orange;
 }
 .scenic-comment {
 	margin-top:5px;
 	float: left;
 	color: black;
 	font-size: 15px;
 }
 